@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200|Nunito+Sans:400,400i,700,700i&display=swap');

::-moz-selection { background: #213cff; color: #fff; text-shadow: none; }
::selection { background: #213cff; color: #fff; text-shadow: none; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

main, header > div {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  padding: 0 0 10em;
}

h1, h1 a, h1 a:visited {
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}
h2 {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  color: rgba(0,0,0,0.4);
}
section {
  margin: 4em auto 0;
  padding: 0 1em;
}
section > h1 {
  font-size: 2em;
  text-decoration: underline;
}

.item {
  width: 100%;
  display: flex;
}
.item h1 {
  margin: 0;
  text-align: left;
  font-size: 1.6em;
  line-height: 1;
}
.item p {
  padding: 0;
  text-align: left;
}
.item figure {
  width: 142px;
  min-width: 52px;
  position: relative;
  margin: 0;
}
.item figure img {
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: all 0.4s;
  border-radius: 0.3em;
}
.item figure img:hover {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.item-info {
  margin-left: 1.5em;
}

.channels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.channel {
  width: 320px;
  max-width: 100%;
  display: block;
  margin-bottom: 2em;
}
.channel .item-info {
  margin: 0;
}
.channel a, .channel a:visited {
  color: #000;
  margin: 0 0.2em;
  text-decoration: none;
  white-space: nowrap;
  border-bottom: 1px solid #213cff;
}
.channel a:hover {
  border-bottom: 2px solid #213cff;
}
.channel p {
  font-size: 0.9em;
  line-height: 1.8;
}
.channel figure {
  height: 128px;
  width: 100%;
}
.channel figure img {
  object-fit: cover;
  height: 100%;
}
.channel h1 {
  margin-top: 0.75em;
  font-size: 1.2em;
}

#writing, #past {
  display: flex;
  flex-wrap: wrap;
}
#writing > section,
#past > section {
  width: 580px;
  max-width: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project {
  padding: 1em;
  max-width: 100%;
  width: 380px;
}
.project h1 a {
  color: #111;
}
.project:hover {
  background: rgba(194, 198, 255, 0.41);
}
.project h2 {
  margin-top: 0.2em;
  text-align: left;
}

.client {
  margin-bottom: 1em;
}
.client a:visited,
.client h1:hover a {
  color: #213cff;
}

header {
  padding: 1.25em;
}
header h1 {
  text-align: left;
  font-size: 3.5em;
  font-weight: 200;
  font-family: 'Noto Serif JP', serif;
  margin-bottom: 0;
}
header a, header a:visited, header a:hover {
  color: #000;
}
.brand {
  width: 32px;
  height: auto;
}

ul, li {;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.links li {
  display: inline-block;
  font-size: 0.9em;
  margin: 0 0.5em;
}

a, a:visited {
  color: #213cff;
}

hr {
  margin: 3em 0;
  border: none;
  height: 4px;
  background: #cecece;
  clear: both;
}

img {
  max-width: 100%;
}

#blog h1 {
  margin-bottom: 0;
}
article {
  text-align: left;
  margin: 0 auto 2em;
}
article h1 {
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 0;
}
article h1 a, h1 a:visited {
  color: #111;
}
article h1 a:hover {
  color: #213cff;
}
article h2 {
  text-align: left;
  font-size: 0.8em;
  margin-top: 0;
}

.writing h1 {
  font-size: 1.4em;
}

.meta {
  padding: 5em 1em 0;
}
.meta em {
  font-weight: bold;
  border-bottom: 1px solid #213cff;
}
.current {
  font-size: 2.2em;
}
.current img {
  vertical-align: middle;
  height: 30px;
  margin-right: 0.1em;
}
.previously li {
  margin-bottom: 0.75em;
  font-size: 1.2em;
}
.highlight {
  padding: 1em 1em 0.5em 1em;
  background: #f6f6f6;
  margin: 1em 0;
}

header, .projects {
  font-size: 0.9em;
}

iframe {
  width: 920px;
  height: 480px;
  max-width: 100%;
  max-height: 100vh;
  border: 5px solid #333;
  border-radius: 0.5em;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

@media (max-width: 900px) {
  header {
    position: static;
  }
  header > div {
    display: block;
  }
  header .title, .links {
    text-align: center;
  }
  .project {
    padding: 1em 0;
  }
  .project:hover {
    background: none;
  }
}

@media (max-width: 480px) {
  .item figure {
    display: none;
  }
  .item-info {
    margin-left: 0;
  }
}
