@import url('https://fonts.googleapis.com/css?family=Cousine:400,400i');

::-moz-selection { background: #0ea2d1; color: #fff; text-shadow: none; }
::selection { background: #0ea2d1; color: #fff; text-shadow: none; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
  background: #FFAFAF;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Cousine', monospace;
}

h1, h1 a, h1 a:visited {
  color: #184580;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}
h2 {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  color: rgba(0,0,0,0.4);
}
.projects {
  vertical-align: top;
  margin: 6em 0 0 0;
}
.project {
  display: inline-block;
  max-width: 320px;
  margin: 0em 6em 20em;
}
.project p {
  padding: 0 2em;
  text-align: left;
}
.project figure {
  width: 100%;
  position: relative;
  margin: 0 0 1em 0;
}
.project figure img {
  width: 100%;
  visibility: hidden;
}
.project figure svg {
  position: absolute;
  left: 0;
  top: -2px;
}

header {
  padding: 2em 2em 6em 2em;
}
.brand {
  width: 140px;
}

ul, li {;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.links li {
  display: inline-block;
  font-size: 0.9em;
  margin: 0 0.5em;
}

a, a:visited {
  color: #dc3636;
}
a:hover {
  color: #f50a0a;
}

hr {
  margin: 3em 0;
  border: none;
  height: 4px;
  background: #cecece;
  clear: both;
}

img {
  max-width: 100%;
}

.meta li {
  display: inline-block;
  width: 30%;
  text-align: left;
  vertical-align: top;
  padding-right: 1.5%;
}
.meta li:last-child {
  padding-right: 0;
}
.meta em {
  color: #dc3636;
}

header, .projects, .meta {
  font-size: 0.9em;
}

@media (max-width: 900px) {
  .meta li {
    width: 100%;
    padding: 1em 2em;
  }
}
