{% macro project(p) -%}
    <li class="grid-item project">
        <a href="{{ p.url }}">
            <figure>
                <img src="/assets/projects/{{ p.img }}" alt="{{ p.name }}">
            </figure>
        </a>
        <h1><a href="{{ p.url }}">{{ p.name }}</a></h1>
        <h2>{{ p.tags }}</h2>
        <p>{{ p.desc }}</p>
    </li>
{%- endmacro %}

{% macro channel(c) -%}
    <li class="grid-item channel" style="background-image:url('/assets/research/{{ c.background }}');">
        <h1>{{ c.name }}</h1>
        {% for u in c.urls %}
            <a href="{{ u.url }}">{{ u.name }}</a>
        {% endfor %}
    </li>
{%- endmacro %}

{% extends 'layout.html' %}
{% block content %}
    <header>
        <img src="/assets/brand.gif" class="brand">
        <h1>Francis Tseng</h1>
        <h2>design # dev # data</h2>
        <ul class="links">
            <li><a href="http://spaceandtim.es">writing</a></li>
            <li><a href="https://www.are.na/francis-tseng">are.na</a></li>
            <li><a href="https://twitter.com/frnsys">twitter</a></li>
            <li><a href="https://github.com/frnsys/">github</a></li>
        </ul>
    </header>
    <div class="meta">
        <div>
            <em>currently</em>
            <ul>
                {% for item in meta.currently %}
                    <li>{{ item|safe }}</li>
                {% endfor %}
            </ul>
            <div class="highlight">
                <h3>want to work together?</h3>
                <p><em>specialties</em>: simulation, machine learning, design, forecasting, tool building, data analysis, game design, general software development, education</p>
                <p><em>looking for projects in the domains of</em>: agriculture, recycling, voting, transit/mobility, energy, climate, logistics, algorithmic accountability, cryptoeconomics, journalism, ...</p>
                <p>contact me at <em>f[at]frnsys.com</em></p>
            </div>
        </div>
        <div>
            <em>previously</em>
            <ul>
                {% for item in meta.previously %}
                    <li>{{ item|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <section>
        <h1>Research Threads</h1>
        <ul class="grid channels">
            {% for c in channels %}
                {{ channel(c) }}
            {% endfor %}
        </ul>
    </section>

    <section>
        <h1>Blog</h1>
        <iframe src="https://spaceandtim.es/"></iframe>
        <p><a href="https://spaceandtim.es/">space & times</a></p>
    </section>

    <section>
        <h1>Past Work</h1>
        <ul class="grid projects">
            {% for p in projects %}
                {{ project(p) }}
            {% endfor %}
        </ul>
    </section>

    <section>
        <h1>Stalled & Unfinished</h1>
        <ul class="grid projects">
            {% for p in stalled %}
                {{ project(p) }}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
