{% macro project(p) -%}
    <li>
        <figure class="project-hero">
            <a href="{{ p.url }}"><img src="/assets/projects/{{ p.img }}" alt="{{ p.name }}"></a>
        </figure>
        <div class="project-info">
            <div class="project-meta">
                <a class="project-title" href="{{ p.url }}">{{ p.name }}</a>
            </div>
            <span class="project-tags">{{ p.tags }}</span>
            <p>{{ p.desc }}</p>
        </div>
    </li>
{%- endmacro %}

{% extends 'layout.html' %}
{% block content %}
    <header class="primary">
        <img src="/assets/brand.gif" title="INTERESTING" alt="INTERESTING" class="brand">
        <h1>Francis Tseng</h1>
        <div class="subtitle">design, data, machine learning</div>
        <ul class="meta">
            <li><em>currently</em>: {{ meta.currently|safe }}</li>
            <li><em>upcoming</em>: {{ meta.upcoming|safe }}</li>
            <li><em>previously</em>: {{ meta.previously|safe }}</li>
        </ul>
        <ul class="links">
            <li><a href="http://spaceandtim.es">writing</a></li>
            <li><a href="http://publicscience.co">public science</a></li>
            <li><a href="https://www.are.na/francis-tseng">are.na</a></li>
            <li><a href="https://twitter.com/frnsys">twitter</a></li>
            <li><a href="https://github.com/frnsys/">github</a></li>
        </ul>
    </header>
    <ul class="projects">
        {% for p in projects %}
            {{ project(p) }}
        {% endfor %}
    </ul>

    <hr />
    <h1>Stalled & Unfinished</h1>
    <ul class="projects">
        {% for p in stalled %}
            {{ project(p) }}
        {% endfor %}
    </ul>
{% endblock %}
